    <footer class="footer">
        <p class="centrar">Ingeniería de software 3 - profesor Omar Esgaib</p>
        <p class="centrar">Sebastian Pereira Duarte</p>
        <li><a href="https://gitlab.com/sebastianpereiraduarte4/02-y-25495-motor-plantillas">Repositorio del proyecto</a></li>
    </footer>