<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información del Curso</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container-navbar">
        <nav class="navbar">
            <ul>
                <li><a href="../">Inicio</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <h1>Ingeniería del Software 3</h1>
        <section>
            <h2>Descripción del Curso</h2>
            <p>Este curso profundiza en los principios y prácticas avanzadas de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
        </section>
        <section>
            <h2>Objetivos del Curso</h2>
            <ul>
                <li>Aprender los conceptos teóricos y prácticos avanzados de la Ingeniería del Software.</li>
                <li>Aplicar metodologías de desarrollo de software en proyectos reales.</li>
                <li>Desarrollar habilidades en la gestión de proyectos de software, incluyendo planificación, seguimiento y control.</li>
                <li>Comprender y aplicar principios de diseño y arquitectura de software en sistemas complejos.</li>
                <li>Analizar y aplicar técnicas de calidad y pruebas de software.</li>
            </ul>
        </section>
        <section class="plan">
            <h2>Plan de Estudios del Curso</h2>
            <ul>
                <li>Conceptos generales de la Web</li>
                <li>HTML (lenguaje)</li>
                <li>CSS (lenguaje)</li>
                <li>Versionamiento de código en la nube - GIT</li>
                <li>JavaScript (lenguaje)
                    <ul>
                        <li>Conceptos generales del lenguaje</li>
                        <li>En el lado cliente
                            <ul>
                                <li>DOM</li>
                                <li>Reactividad – framework o librería JavaScript</li>
                                <li>AJAX (técnica) – fetch</li>
                            </ul>
                        </li>
                        <li>En el lado servidor
                            <ul>
                                <li>NodeJS</li>
                                <li>Express</li>
                                <li>NodeJS con base de datos SQL y NoSQL</li>
                                <li>Despliegue/Deployment en la nube</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>