<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="./paginas/style.css">
</head>
<body>
    <div class="content">
    <div class="panel-inicio">
        <h1>Pagina inicio</h1>
        <h1 class="titulo">Equipo - Proyecto Web</h1>
    </div>
    <div class="container">
        <h3 class="nombres">Nombres y Matricula:</h3>
            <div class="conrainer-navbar">
            {{>nav}}
            </div>
    </div>
    <div class="container">
        <div class="imagen">
            {{>logo}}
        </div>
        <div class="enlaces">
            <a href="./paginas/curso.html">Información del curso</a> | <a href="./paginas/word_cloud.html">Word Cloud</a>
        </div>
    </div>

    </div>
    {{>footer}}
</body>
</html>